{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}

	{% stylesheets
	'bundles/bungacore/css/admin.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}

{% block footer %}
	<div class="row-fluid">
		<div class="span2 offset10 pull-right">
			<span class="label">
				Dev by <a href="http://bungamata.com" rel="noreferrer" style="text-decoration: none; color: darkred">Bunga Mata</a>
			</span>
		</div>
	</div>
{% endblock %}